.button{
    font-size: 1.125rem;
    font-weight: bold;
    border: .125rem var(--secondary-color) solid;
    border-radius: .3rem;
    height: 3rem;
    min-height: 3rem;
    outline: none;
}
.primary{
    color: white;
    background-color: var(--secondary-color);
}
.secundary{
    background-color: white;
    color: var(--secondary-color);
}
.medium{
    width: 9.125rem;
}
.large{
    width: 19.125rem;
}
.button:active { 
    box-shadow: 0 .1875rem .375rem var(--shadow-color);
    transform: translateY(2px);
} 
.button:hover{
    cursor: pointer;
}