.cardUser{
    width: calc(100% - .625rem);
    background: var(--main-bg-color);
    height: 2.5rem;
    min-height: 2.5rem;
    border-radius: .4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 .1875rem .375rem var(--shadow-color);
    margin-bottom: 1rem;
}
.cardUser:hover{
    cursor: pointer;
}
.cardUser__name{
    height: 1.5rem;
    width: 22%;
    display: flex;
    align-items: center;
}
.cardUser__name p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
}
.cardUser__tel{
    height: 1.5rem;
    width: 10%;
    display: flex;
    align-items: center;
}
.cardUser__tel p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
}
.cardUser__address{
    height: 1.5rem;
    width: 22%;
    display: flex;
    align-items: center;
}
.cardUser__address p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
}
.cardUser__email{
    height: 1.5rem;
    width: 22%;
    display: flex;
    align-items: center;
}
.cardUser__email p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
}
.cardUser__icons{
    height: 1.5rem;
    width: 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}