.cardHeader{
    width: 65%;
    height: 2.5rem;
    border-radius: .4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1.2px 3px 5px   rgba(0, 0, 0, 0.18); 
}

.cardHeader__name{
    height: 1.5rem;
    width: 22%;
    display: flex;
    align-items: center;
}
.cardHeader__name p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 1.125rem;
}
.cardHeader__tel{
    height: 1.5rem;
    width: 10%;
    display: flex;
    align-items: center;
}
.cardHeader__tel p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    font-weight: bold;
}
.cardHeader__address{
    height: 1.5rem;
    width: 22%;
    display: flex;
    align-items: center;
}
.cardHeader__address p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    font-weight: bold;
}
.cardHeader__email{
    height: 1.5rem;
    width: 22%;
    display: flex;
    align-items: center;
}
.cardHeader__email p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    font-weight: bold;
}
.cardHeader__icons{
    height: 1.5rem;
    width: 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}