.modal-bg {
    background: #302a5a80;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--main-bg-color);
    width: 53.9375rem;
    padding: 3.6875rem 5.75rem;
    border-radius: .625rem;
    box-shadow: 0 .1875rem .375rem var(--shadow-color) ;
    z-index: 2;
}

.m-large {
    height: 30.375rem;
}

.m-small {
    height: 23.8125rem;
}

.modal-container form {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    width: 100%;
    height: 100%;
    padding: 3.875rem 0 0 0;
}

.modal-container > div {
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
    width: 100%;
    height: 100%;
    padding: 3.875rem 0 0 0;
}


.col-3 {
    display: flex;
    justify-content: space-between;
}
.col-3 div {
    width: 12.5rem;
}

.col-2 {
    display: flex;
    justify-content: space-between;
}
.col-2 div { 
    width: 20rem;
}

.col-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.modal-container div p {
    text-align: center;
}

/* .show {
    display: block;
}

.no-show{
    display: none;
} */
@media (max-width: 800px) {
    .col-buttons{
        flex-direction: row;
        margin: 0px;
    } 
    
    .col-buttons button{
        margin: .2rem;
        
    } 
    .col-3{
        align-items: center;
        flex-direction: column;
    }
    .col-3 div{
        width: 20rem;
    }
    .input-div{
        margin: .33rem;
        width: 320px;
    }
    .col-2{
        align-items: center;
        flex-direction: column;
    }
    .modal-container form {
        margin: 0px 0px;
        padding: 1rem;
    }
    .modal-container > h2{
        font-size: 1.2rem;
    }
}