.modal-bg {
    background: rgba(90, 122, 211, 0.226);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--main-bg-color);
    width: 53.9375rem;
    padding: 3.6875rem 5.75rem;
    border-radius: .625rem;
    box-shadow: 0 .1875rem .375rem var(--shadow-color) ;
    z-index: 1;
}

.largeM {
    height: 30.375rem;
}


.modal-container > div {
    display: flex;
    flex-direction: column;
    width: 43.9375rem;
}
.modal-container-data{
    width: 100%;
    margin-top: 7px;
}
.col-buttons {
    display: flex;
   
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
}
.bold p{
    font-weight: bold;
}



